@import 'partials/normalize';
@import 'font_awesome/font-awesome';
@import 'breakpoint';
@import 'compass';
@import 'partials/variables';
@import 'susy';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/layout';

html {
  font-size: 1.1em;
}

body {
  background-color: $theme-background;

  > header {
    @include transition-property (background-color);
    @include transition-duration (.15s);
    @include transition-timing-function (cubic-bezier(.455, .03, .515, .955));
    background-color: $header-background;

    &.open {
      @include transition-property(background-color);
      @include transition-duration(.8s);
      @include transition-timing-function(cubic-bezier(.455, .03, .515, .955));
      background-color: transparent;
    }

    a {
      color: lighten($font-color-primary, 10%);
      &:hover {
        border-bottom: 0;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 0;
    }

    .menu {
      cursor: pointer;
      font-size: 1.4em;
      text-transform: uppercase;
    }

    nav {
      // background-color: $header-background;
      font-size: 1.2em;
    }
  }

  > footer {
    line-height: 1.1em;
  }
}

body,
input,
select,
textarea {
  color: $font-color-primary;
  font-family: $font-family-primary;
  font-weight: 300;
  letter-spacing: .025em;
  line-height: 2em;
}

ul,
ol,
dl,
table,
blockquote {
  margin: 0 0 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav,
.menu,
.feature {
  color: darken($font-color-primary, 15%);
  font-family: $font-family-secondary;
  font-weight: inherit;
  line-height: 1.1;
}

h1 {
  font-size: 3.7em;
}

#hero h1 {
 margin: 0;
}

h2 {font-size: 2.6em;}

h3,
input[type="submit"] {font-size: 2em;}

h4 {font-size: 1.5em;}

h5 {font-size: 1.25em;}

h6 {font-size: 1em;}

small,
.font-small {
  font-size: .75em;
}

//p { font-size:1.25em; }

a {
  @include transition-property(color, border-bottom);
  @include transition-duration(.2s);
  @include transition-timing-function(ease-in-out);
  color: $font-color-accent;
  text-decoration: none;

  &:hover {
    border-bottom: dotted 1px;
    color: lighten($font-color-accent, 10%);
  }
}

.light {
  color: $font-color-light;
}

strong,
b {
  font-weight: 600;
}

blockquote {
  border-left: solid .5em $font-color-secondary;
  font-style: italic;
  padding: 1em 0 1em 2em;
}

code,
kbd,
pre,
samp {
  font-family: 'Roboto mono', monospace;
}

input,
select,
textarea,
label,
button {
  border: 0;
  // color: $font-color-primary;
  display: block;
  margin: gutter() * 4;
  outline: 0;
  padding: .75em;
  text-decoration: none;
  text-transform: capitalize;
  width: 100% - gutter() * 8;

  &:focus {
    border-color: $font-color-primary;
  }
}

.refine {
  input,
  select,
  textarea,
  label,
  button {
    border: 0;
    // color: $font-color-primary;
    display: inline-block;
    margin: gutter();
    padding: .5em;
    width: 25% - gutter() * 4;
  }
}
label{
  padding-left: 0em;
}

ul,
ol {
  padding: 0 0 2em;
}

dl {
    text-transform: capitalize;
  dt {
      font-weight: bold;
  }

  dd {
    margin: 0 0 .5em;
  }
}

form {
  ul, .cars ul {
    list-style-type: none;
  }
}

.widget {
  border-radius: .2em;
  background: $widget-background;
  color: $font-color-light;
  border-radius: 0px 1px 8px 2px rgba(0, 0, 0, 0.3);
}

table {
  width: 100%;

  tbody {
    tr {
      border-bottom: solid 1px _palette(border);
    }
  }

  td,
  th {
    padding: .5em 1em;
  }

  th {
    font-weight: 400;
    text-align: left;
  }

  thead {
    background: $theme-background;
    color: $font-color-primary;
  }

  tfoot {
  }

  tbody {
  }
}


audio,
canvas,
progress,
video {
  height: auto;
  width: 100%;
}

#expand {
  color: $font-color-accent;
  cursor: pointer;
}
