// Susy Setup-----------------------------------------

$susy: (
  container: $container-width,
  columns: 12,
  gutters: 1 / 4,
  output: isolate,
  gutter-position: split,
  last-flow: to,
  //debug: (image: show),
  global-box-sizing: border-box,
);

* {
  @include border-box-sizing;
}

.wrap {
  @include container;
}

// Header --------------------------------------------

body > header {
  left: 0;
  padding-bottom: $header-height / 4;
  padding-top: $header-height / 4;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  .logo,
  .menu {
    @include span(6);
    height: $header-height / 2;
    position: relative;

    img {
      height: $header-height / 2.5;
    }
  }

  .logo {
    -webkit-backface-visibility: hidden;
    opacity: 1;
    -webkit-perspective: 1000;
    -webkit-transform-style: preserve-3d;
    transition: all .3s ease;
    z-index: 120;
  }

  .menu {
    @include last(6);
    text-align: right;
    z-index: 120;
  }

  .menu img {
    float: right;
    padding-bottom: $header-height / 10;
    padding-top: $header-height / 10;
  }

  nav {
    -webkit-backface-visibility: hidden;
    left: 0px;
    overflow: hidden;
    -webkit-perspective: 1000;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    z-index: 115;
    //transition: translateX 0.4s ease-in-out;
    ul {
      -webkit-backface-visibility: hidden;
      opacity: 0;
      padding: $header-height / 4 0 0;
      -webkit-perspective: 1000;
      transform: translateX(-20px);
      -webkit-transform-style: preserve-3d;
      transition: all .4s ease-in-out;
      li {
        display: inline-block;
        list-style: none;
        margin: gutter() / 2;
        text-align: center;
        a {
          display:block;
        }
      }
    }
  }

  &.open {
    nav {
      left: 0;
      //transition: left 0.1s ease-in-out;

      ul {
        opacity: 1;
        transform: translateX(0);
      }
    }
    .logo {
      opacity: 0;
      z-index: 100;
    }
  }
}

// Section --------------------------------------------

main {
  @include container;
  padding-top: $header-height;
  margin-bottom: gutter();
}

#hero {
  @include background-cover;
  position:relative;
  height:100vh;

  .callout{
    //margin-top:$header-height/1.75;
    @include container;

    position:absolute;
    top:55%;
    color:#fff;
    -ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);
  }
}

section {
  padding-top:$header-height / 3;
  &#portfolio{
    padding-top:$header-height;
  }
  form {
    margin: gutter() * 4;
    padding: gutter() * 4;
  }
  form.search {

  }
}

article {
  padding-top:$header-height / 3;
  header {
    margin:0 auto;
    width: span(10 of 12);
    ul {
      margin-top:2em;
    }
  }
}

.gallery {
  // padding:0;
  // margin-top: gutter();
  // margin-bottom: gutter();
  // background-position: center center;
  li {
  //   @include span(4);
    list-style: none;
  //   margin-top: gutter();
  //   margin-bottom: gutter();
  //   &:hover {
  //     //effect tbd
  //     margin-top: gutter() / 2;
  //     box-shadow: 2px 2px #dedede;
  //     border-left:1px solid #dedede;
  //   }
  //   p {
  //     text-align:center;
  //   }
  // }
  // img {
  //   width: 100%; // dimensions are mandatory
  //   height: 14em; // dimensions are mandatory
  //   object-fit: cover;
  //   overflow: hidden; // Cuts off the parts of the image poking out
  }

  p {
    margin-left: 2em;
  }
}

.statistics li {
  margin: 1em 0;
}

.large {
  @include span(8);
}

.equal {
  @include span(6);
}

.small {
  @include span(4);
}

.full {
  @include span(12);
  clear: both;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

img {
  max-width:100%;
}

// Footer --------------------------------------------

body > footer {
  @include container;
  margin-top:$footer-height / 2;
  height:$footer-height;
  ul{
    padding:0;
  }

  hr {
    @include span(12);
    border:none;
    border-top: 1px solid #777;
  }

  nav {
    @include span(6);
    ul li {
      display:inline;
    }
    &.quick_links ul {
    }
  }

  .madeby {
    @include span(6);
    text-align:right;
  }
}

// Navigation ----------------------------------------

#expanded {
  display: none;
}

// Breakpoints ----------------------------------------

@include breakpoint(max-width $container-width) {
  body > header, main, footer {
    padding-left: gutter() * 4;
    padding-right: gutter() * 4;
  }
}

@include breakpoint($small) {
  .large, .equal, .small {
    @include span(12);
  }
  body > header {
    padding-top:$header-height / 8;
    padding-bottom:$header-height / 8;
    .logo, .menu {
      height: $header-height / 2.5;
      img, svg {
        height: $header-height / 2.5;
      }
    }
  }

  main {
    padding-top:$header-height - ($header-height / 4);
  }

  body > footer {
    margin-top:$footer-height / 4;
    span {
      display:none;
    }
  }
}
