// Style Variables --------------------------------------------

$theme-background: #FFFCFF;
$theme-primary: #FFFF66;
$theme-dark: #222;

$font-color-primary: #777;
$font-color-secondary: #F5EEE8;

$font-family-primary: 'Lato', arial, sans-serif;
$font-family-secondary: 'Open Sans', arial, sans-serif;
$font-color-accent: #739483;;

// Config Variables --------------------------------------------

$container-width:1068px;
$header-height:120px;
$footer-height: $header-height;

// Breakpoints -------------------------------------------------

$narrow:max-width 480px;
$small:max-width 800px;
$medium:max-width 960px;
$wide:max-width 1200px;