// Style Variables --------------------------------------------

$theme-background: #fffcff;
$theme-primary: #ff6;
$theme-dark: #222;

$header-background: rgba(255, 252, 255, .98);

$font-color-primary: #777;
$font-color-secondary: #f5eee8;
$font-color-light: #fefefe;
$font-color-accent: #739483;

$font-family-primary: 'Lato', arial, sans-serif;
$font-family-secondary: 'Open Sans', arial, sans-serif;

// Config Variables --------------------------------------------

$container-width:1068px;
$header-height:120px;
$footer-height: $header-height;

// Breakpoints -------------------------------------------------

$narrow: max-width 480px;
$small: max-width 800px;
$medium: max-width 960px;
$wide: max-width 1200px;
